{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_customer') }}">Home</a>
    </div>
    <h2>Add Customer to Our Database</h2>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <p>
          Company name:<br>
          {{ form.company(size=120) }}<br>
        </p>
        <p>
          Customer email:<br>
          {{ form.email(size=120) }}<br>
        </p>
        <p>
          Customer phone:<br>
          {{ form.phone(size=12) }}<br>
        </p>
      </div>
      <div class="divider"></div> 
      <div class="section">
        <p>
          Street Number:<br>
          {{ form.streetno(size=12) }}<br>
        </p>
        <p>
          Street Name:<br>
          {{ form.streetname(size=12) }}<br>
        </p>
        <p>
          City:<br>
          {{ form.city(size=12) }}<br>
        </p>
        <p>
          State:<br>
          {{ form.state(size=12) }}<br>
        </p>
        <p>
          ZIP:<br>
          {{ form.zipcode(size=12) }}<br>
        </p>
      </div>

      <p><input type="submit" value="Create Customer"></p>
    </form>
  </div>
</div>
{% endblock %}
